.header {
  display: flex;
  justify-content: space-between;
  padding: 51px 0 20px;
  border-bottom: 2px solid white;
  position: fixed;
  top: 0;
  width: 90%;
  max-width: 1750px;
  left: 50%;
  z-index: 11;
  mix-blend-mode: difference;
  transform: translateX(-50%);


  &.--disabled {
    mix-blend-mode: initial;
  }

  &__content-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 45%;

    @media (max-width: 768px) {
      justify-content: flex-end;
    }
  }
  
  &__logo {
    cursor: pointer;
  }

  &__user {
    color: #D8D8D8;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0px;
    margin: 0;
    font-weight: 300;
    text-decoration: none;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__language-switcher {
    display: flex;
    opacity: 0;
    pointer-events: none;
    gap: 18px;

    @media (max-width: 768px) {
      display: none;
    }
  }
  
  &__language-selector {
    color: white;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;

    &--actived {
      font-weight: bold;
    }
  }
}