.projects-nav {
    position: fixed;
    bottom: 0;
    width: 97vw;
    background: #000;
    padding: 28px 0;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);

    &__container {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
    }

    &__title {
        color: white;
        font-size: 25px;
        margin: 0;
        letter-spacing: 0.25px;
    }

    &__arrow {
        filter: brightness(100);
        transform: rotate(180deg);
        color: white;

        svg {
            width: 20px;
            height: 26px;
        }
    }
}