.gioh {
    background-color: #c19d85;
    min-height: 100vh;
    
    &__hero {
        margin-top: 68px;
        margin-bottom: 156px;

        @media (max-width: 768px) {
            margin-bottom: 40px;
        }
    }

    &__description-wrapper {
        align-items: center;
        display: flex;
        justify-content: space-between;

        @media (max-width: 768px) {
            flex-direction: column;
        }
    }

    &__description {
        font-size: 32px;
        max-width: 55%;
        line-height: 145%;

        @media (max-width: 768px) {
            font-size: 18px;
            max-width: 100%;
            line-height: 120%;
            text-align: justify;
            height: 100%;
            margin-bottom: 40px;
        }
    }

    &__color-grid {
        display: flex;
        height: 1080px;
        justify-content: flex-end;
        position: relative;
        max-width: 100%;
        overflow: hidden;
        padding-bottom: 48px;

        @media (max-width: 768px) {
            height: 500px;
        }
        
    }

    &__color {
        &:nth-child(1) {
            border: 1px solid #211C18;
            background-color: #C19D85;
            height: 275px;
            width: 60%;
            position: absolute;
            left: 20%;
            top: 50%;
            display: flex;
            align-items: flex-end;

            @media (max-width: 768px) {
                transform: translate(-50%, -60%);
                left: 50%;
                width: 50%;
            }

            .gioh__color-text {
                transform: translateY(60px);
                color: #FFDCC5;
                font-size: 22px;

                @media (max-width: 768px) {
                    transform: translateY(0);
                    text-align: center;
                    width: 100%;
                }
            }
        }
        
        &:nth-child(2) {
            background-color: #FFDCC5;
            height: 100%;
            width: 317px;
            display: flex;
            align-items: flex-end;

            .gioh__color-text {
                padding-left: 32px;
                font-size: 22px;
                transform: translateY(-170px);
                color: #C19D85;

                @media (max-width: 768px) {
                    transform: initial;
                }
            }
        }

        &:nth-child(3) {
            background-color: #211C18;
            height: 100%;
            width: 317px;
            display: flex;
            align-items: flex-end;

            .gioh__color-text {
                padding-left: 32px;
                font-size: 22px;
                transform: translateY(-170px);
                color: #E5C6B1;

                @media (max-width: 768px) {
                    transform: initial;
                }
            }
        }
    }

    &__oooh-wrapper {
        background-color: #B68B6F;
        padding: 400px 0 50px;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;

        @media (max-width: 768px) {
            padding-top: 48px;
        }
    }

    &__oooh {
        justify-content: center;
        flex-direction: column;
        display: flex;
        align-items: center;
    }

    &__oooh-text {
        text-align: left;
        color: white;
        max-width: 190px;
        line-height: 155%;
    }

    &__oooh-text-wrapper {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        transform: translateX(-50px);
        font-size: 18px;
    }

    &__at {
        display: block;
        font-size: 22px;
        margin-top: 22px;
    }

    &__sign {
        margin-top: 68px;
    }

    &__candle {
        margin-bottom: 68px;
    }

    &__grid {
        margin: 0 auto 140px;
        
        @media (max-width:768px) {
            width: 100%;
            overflow: scroll;
            margin-bottom: 48px;
        }
        
        @media (min-width: 769px) {
            display: flex;
            justify-content: center;
        }

        &-wrapper {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-column-gap: 17px;
            grid-row-gap: 17px;
            width: fit-content;
            
            @media (max-width:768px) {
                width: 500%;
                overflow: scroll;
                display: flex;
                gap: 12px;
                padding-left: 12px;
            }
        }

    }


    &__logo-grid {
        display: block;
        margin: 0 auto 120px;
        text-align: center;

        @media (max-width: 768px) {
            margin-bottom: 40px;
        }
    }

    &__footer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 68px;
    }

    &__footer-text {
        color: #FFDCC5;
        font-size: 14px;
        margin: 12px 0 0#FFDCC5;
    }
}