.gol {
    background-color: #7C7C7C;
    min-height: 100vh;

    &__hero {
        margin-top: 68px;
        margin-bottom: 134px;
        text-align: center ;

        @media (max-width: 768px) {
            margin-bottom: 28px;
        }
    }

    &__stamp {
        margin-bottom: 68px;

        @media (max-width: 768px) {
            width: 30%;
            margin-bottom: 28px;
        }
    }

    &__description {
        width: 55%;
        color: white;
        font-size: 32px;
        margin-bottom: 80px;

        @media (max-width: 768px) {
            font-size: 22px;
            text-align: justify;
            width: 100%;
            margin-bottom: 42px;
        }

        u {
            display: block;
        }
    }

    &__cards {
        display: flex;
        gap: 68px;
        margin-bottom: 80px;

        @media (max-width: 768px) {
           flex-direction: column; 
        }
    }

    &__posters {
        margin-bottom: 80px;
    }

    &__poster {
        @media (max-width: 768px) {
            width: 50%;
        }
    }


    &__products-wrapper {
        display: flex;
        margin-bottom: 85px;
        
        @media (max-width: 768px) {
            flex-direction: column;
        }
    }

    &__card {
        margin-top: -3px;
        overflow: hidden;
        background: rgb(143,143,144);
        background: linear-gradient(38deg, rgba(143,143,144,1) 50%, rgba(110,110,110,1) 100%);

        > div {
            margin-top: -40px;
        }
    }

    &__bag {
        overflow: hidden;
        margin-top: -3px;
        background-color: #949495;
        flex-grow: 1;

        &-wrapper {
            @media (max-width: 768px) {
                transform: scale(2);
            }
        }
    }

    &__notebook {
        margin-bottom: 68px;
    }
}