.gol {
    background-color: #7C7C7C;
    min-height: 100vh;

    &__hero {
        margin-top: 68px;
        margin-bottom: 134px;
    }

    &__stamp {
        margin-bottom: 68px;
    }

    &__description {
        width: 55%;
        color: white;
        font-size: 32px;
        margin-bottom: 80px;

        u {
            display: block;
        }
    }

    &__cards {
        display: flex;
        gap: 68px;
        margin-bottom: 80px;
    }

    &__posters {
        margin-bottom: 80px;
    }

    &__products-wrapper {
        display: flex;
        margin-bottom: 85px;
    }

    &__card {
        margin-top: -3px;
        overflow: hidden;
        background: rgb(143,143,144);
        background: linear-gradient(38deg, rgba(143,143,144,1) 50%, rgba(110,110,110,1) 100%);

        > div {
            margin-top: -40px;
        }
    }

    &__bag {
        margin-top: -3px;
        background-color: #949495;
    }

    &__notebook {
        margin-bottom: 68px;
    }
}