.sub-header {
    color: white;
    width: 90%;
    margin: 0 auto;
    padding-top: 132px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    z-index: 10;

    &__title {
        font-size: 16px;
        cursor: pointer;
    }

    &__button {
        cursor: click;
    }

    &__content {
        align-items: center;
        width: 50%;
        display: flex;
        justify-content: space-between;
    }
    
    &__arrow {
        cursor: pointer;
        display: flex;
        align-items: center;

        svg {
            width: 20px;
            height: 26px;
        }
    }
}