.color-card {
    border-radius: 32px;
    color: white;
    padding: 42px 32px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__index {
        border: 2px solid white;
        border-radius: 100px;
        width: 40px;
        height: 40px;
        font-size: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 27px;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: self-start;
    }
}