.mail {
  font-size: 82px;
  line-height: 100px;
  margin: 0;
  mix-blend-mode: difference;
  color: white;
  position: sticky;
  top: 46vh;

   @media(max-width: 1441px) {
      font-size: 68px;
      line-height: 125%;
    } 

    &__wrapper {
      margin-bottom: 235px;
      position: relative;
      height: 100vh;
    }
}