.mail {
  font-size: 48px;
  line-height: 52px;
  margin: 0;
  mix-blend-mode: difference;
  color: #edebe5;
  position: sticky;

    &__wrapper {
      margin-bottom: 235px;
      position: relative;
      height: 100vh;
    }
}