.footer {
  padding: 16px 0;
  position: relative;
  z-index: 10;

  
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
  
  &__content {
    display: flex;
    gap: 56px;
    
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
  
  &__contact-wrapper {
    align-items: center;
    display: flex;
    gap: 56px;
  }
  
  &__section {
    display: flex;
    flex-direction: column;
  }

  &__logo {
    transform: scale(.95);
    width: 300px;
  }

  &__text {
    letter-spacing: 0.18px;
    font-size: 14px;
    font-weight: medium;
    line-height: 22px;
    cursor: pointer;
    margin: 0;
    color: inherit;
    text-decoration: none;

    @media (max-width: 768px) {
      align-self: center;
    }
  }

  &__copyright {
    @media (max-width: 768px) {
      margin-top: 32px;
    }
  }

  &__logo {
    & > div {
      @media (max-width: 768px) {
        text-align: center;
      }
    }
  }
}