.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5%;
  padding-top: 186px;
  position: relative;

  &__left,
  &__right {
    margin-top: 30vh;

    @media(max-width: 1441px) {
      margin-top: 14vh;
    }
  }

  &__right {
    position: relative;
  }

  &__title {
    letter-spacing: .55px;
    font-size: 55px;
    line-height: 57px;
    font-weight: 400;
    position: sticky;
    margin: 0;
    top: 46vh;
  
    @media (max-width: 1441px) {
      font-size: 42px;
      line-height: 125%;
    }
  }

  &__arrow-wrapper {
    position: absolute;
    top: 90vh;
    left: 50%;
    animation: arrowFlick 2s ease infinite;
    transition: opacity .2s ease;
    mix-blend-mode: difference;

    &--hide {
      opacity: 0;
    }
  }

  &__values-wrapper {
    margin-bottom: -32px;
  }

}

@keyframes arrowFlick {
 0% {
   transform: translate(-50%, 0);
 }

 50% {
   transform: translate(-50%, 20px);
 }

 100% {
  transform: translate(-50%, 0);
}
}