.stone {
  mix-blend-mode: difference;
  position: absolute;
  top: 40%;
  color: #ffffff;

  @media (max-width: 768px) {
    top: 25%;
  }

  > div {
    transition: transform .3s linear;
  }

  &__wrapper {
    width: 500px;
    height: 500px;
    animation: stoneSpin 20s ease infinite;

    @media (max-width: 768px) {
      width: 300px;
    }
  }
}

@keyframes stoneSpin {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(14deg);
  }
  100% {
    transform: rotate(0);
  }
}