// ::-moz-selection { /* Code for Firefox */
//   color: black;
//   background: #edebe5;
// }

// ::selection {
//   color: black;
//   background: #edebe5;
// }

body {
  background-color: #fff;
}

.container {
  display: block;
  margin: 0 auto;
  width: 90%;
  max-width: 1750px;
  position: relative;
}